.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1em;
  font-weight: 500;
  color: black;
}

.image-style {
  width: 1em;
}

.font-details {
  font-size: 1em;
  font-weight: 300;
  color: #231d5af8;
}

.font-details-b {
  font-size: 2em;
  font-weight: 500;
  color: #ffffff;
}

.box {
  border: 2px solid #696969;
  margin: 0 auto;
}
.box-1 {
  width: 250px;
}

.card-deck {
  align-items: center;
}

.text-center {
  font-size: 2em;
}

.card {
  background-color: rgba(0, 0, 0, 0.2);
}
.card-title {
  color: var(--clr-red-dark);
  text-align: center;
}

.card-list {
  color: #696969;
}
